@media (max-width: 999px) {
    :is(#banner, #banner2, .userPosted){
        flex-direction: column;
    }
    .banner-text{
        margin-bottom: 20px;
    }
    :is(.banner-image, .banner-text, .actionBox img, .box){
        width: 100%;
    }
    .titleBox{
        width: 80%;
    }
    :is(#featureRow, .free){
    flex-direction: column;
   }
   :is(.less, .feature-box, #ctaText, #ctaBox, footer .rowBoxGrid, .rowBoxGrid){
    width: 100%;
   }
   .banner-text h2{
    font-size: 30px;
   }
   .free{
    padding-left: 0;
    font-size: 13px;
   }
   .free h2{
    margin: 10px 0;
   }
   .free h2 .break{
    display: none;
   }
   #ctaBox{
    justify-content: space-around;
   }
   footer{
    flex-direction: column-reverse;
   }
   .colRow{
    padding: 0;
   }
   :is(#action, .col, #boost){
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    section{
        margin: 20px 0;
    }
    #btn{
        margin: 20px 0;
    }
    .colRow{
        margin-bottom: 20px;
        box-shadow: 0 7px 20px var(--primary-color);
        padding: 2%;
        border-radius: 10px;
    }
    :is(.details, .country, .userPosted){
        justify-content: left;
        align-items: unset;
    }
    :is(.feature-box, .actionBox){
        height: unset;
    }
    header button{
        display: none;
    }
    :is(#closeBtn, #OpenBtn){
        display: block;
    }
    .nav{
        position: fixed;
        background: var(--background-color);
        right: -100%;
        bottom: 0;
        top: 0;
        width: 90%;
        padding: 5% 3%;
        box-shadow: 0 7px 7px 6px var(--text-color);
        transition: 2s;
    }
    .nav ul li{
        float: none;
        margin: 1rem auto;
        padding: 1rem;
    }
    .nav ul li:hover{
        color: var(--dodger-blue);
    }
    .nav ul li ul{
        position: relative;
    }
    .open{
        right: 0;
    }
    footer .rowBoxGrid{
        margin: 0;
        flex-direction: column;
        display: flex;
        text-align: center;
    }
    :is(footer .rowBoxGrid a, .rowBoxGrid a){
        margin: 5px 0;
        font-size: 13px;
    }
    .titleBox{
        width: 100%;
    }
    :is(.titleBox h1, .banner-text.less h2){
        font-size: 20px;
    }
    :is(.testimonies, .free){
        padding: 0;
        margin-bottom: 20px;
    }
    :is(#cta, .free){
        margin-top: 30px;
    }
}
@media (max-width: 299px) {
    .container{
        display: none;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        background: var(--dodger-blue);
        color: var(--background-color);
    }
    .mobile p{
        font-size: 12px;
        text-align: center;
        margin: 10px ;
    }
    .mobile #h1{
        color: var(--background-color);
    }
}